<link rel="stylesheet" href="/_css/_nav-header.css">
<script src="/_js/_nav-header.js"></script>


<div class="header-nav">
	<a target="_self" href="/" class="header-nav-logo">
		MOD
	</a>
	<div class="header-nav-menu">
		<a class="header-nav-link" target="_self" href="/pages/about.html">About</a>
		<a class="header-nav-link" target="_self" href="/page/mod-slide1.html">Slide-1</a>
		<a class="header-nav-link" target="_self" href="">Slide-2</a>
		<a class="header-nav-link" target="_self" href="">Slide-3</a>
		<a class="header-nav-link" target="_self" href="">Slide-4</a>
	</div>
	<div class="toggle-mode">
		<div class="switch-mode">
			<img src="/assets/icon/day-and-night.png" alt="">
		</div>
	</div>
</div>