<link rel="stylesheet" href="/include/mod-slide/mod-slide.css">

<script>
	$(document).ready(function () {
		if (window.location.hostname === 'ntp-md.github.io') {
			$('link[rel="stylesheet"]').each(function () {
				var href = $(this).attr('href');
				$(this).attr('href', href.replace(/^\/(.*)$/, 'https://ntp-md.github.io/MOD/$1'));
			});
			$('img').each(function () {
				var src = $(this).attr('src');
				$(this).attr('src', src.replace(/^\/(.*)$/, 'https://ntp-md.github.io/MOD/$1'));
			});
			$('script').each(function () {
				var src = $(this).attr('src');

				if (src && src.startsWith('/')) {
					$(this).attr('src', src.replace(/^\/(.*)$/, 'https://ntp-md.github.io/MOD/$1'));
				}
			});
		}
	});
</script>


<div id="container_box_slide">
	<div id="box_slide">
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/1.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>
		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/2.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>

		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/3.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>

		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/4.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>

		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/5.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>
		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/6.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>
		</div>
	</div>
	<div id="dot-indicators"></div>
</div>

<script src="/include/mod-slide/mod-slide.js"></script>