<link rel="stylesheet" href="/public/_css/_slide1.css">

<div id="container_box_slide">
	<div id="box_slide">
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/1.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>
		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/2.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>

		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/3.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>

		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/4.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>

		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/5.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>
		</div>
		<div class="box_items">
			<div class="box_items_img">
				<img src="/assets/img/6.jpg">
			</div>
			<article>
				<span>Lorem, ipsum dolor.</span>
				<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae mollitia, ut itaque
					nihil quia fugiat distinctio libero possimus eveniet.</div>
			</article>
		</div>
	</div>
	<div id="dot-indicators"></div>

</div>

<script src="/public/_js/_slide1.js"></script>


